<nav class="menu">
    <ul>
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.link">{{ item.title }}</a>
      </li>
    </ul>
</nav>
<hr>
<h1>Korisnički profil</h1>
<img src="../../assets/{{organizator.slika}}" height="200">
<table>
    <tr>
        <td>Korisničko ime:</td>
        <td>{{organizator.kor_ime}}</td>
    </tr>
    <tr>
        <td>Ime:</td>
        <td>{{organizator.ime}}</td>
    </tr>
    <tr>
        <td>Prezime:</td>
        <td>{{organizator.prezime}}</td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>{{organizator.telefon}}</td>
    </tr>
    <tr>
        <td>Mejl:</td>
        <td>{{organizator.mejl}}</td>
    </tr>
    <tr>
        <td>Tip:</td>
        <td *ngIf="organizator.tip == 0">Učesnik</td>
        <td *ngIf="organizator.tip == 1">Organizator</td>
        <td *ngIf="organizator.tip == 2">Admin</td>
    </tr>
</table>
<hr>
<h1>Moje radionice</h1>
<div *ngIf="mojeRadionice.length>0; else porukaRadionice">
    <table>
        <tr>
            <th>Naziv</th>
            <th>Mesto</th>
            <th>Datum i vreme</th>
            <th>Slika</th>
        </tr>
        <tr *ngFor="let r of mojeRadionice">
            <td style="text-align: center;">{{r.naziv}}</td>
            <td style="text-align: center;">{{r.mesto}}</td>
            <td style="text-align: center;">{{r.datum | date: 'yyyy.MM.dd HH:mm'}}</td>
            <td style="text-align: center;">
                <img src="../../assets/{{r.slika}}" height="100">
            </td>
            <td style="text-align: center;">
                <button (click)="vidiPoruke(r)">Poruke</button>
            </td>
        </tr>
    </table>
</div>
<ng-template #porukaRadionice>
    Nemate nijednu radionicu.
</ng-template>